*  { 
	font-family: 'Lato', sans-serif !important;
}

#table-content{
	font-size: 0.8em;
}

tr{
	cursor: pointer;
}

tr:hover{
	color: #26a69a;
	background-color: lightgray;
}

#salvar{
	float: right;
}